body {
    margin: 0;
    color: whitesmoke;
    background-color:#b72b26;
}

.content{

    margin:160px 0 0 0;
    font-size:40px;
    padding-left:15px;
    padding-right:15px;
}

header {
    background-color:  #896462;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border:4px;
    border-style:solid;
    border-color:black;
}

.logo {
    height: 100px;
    width: 100px;
    text-decoration: none;
}

a{
    color:#fff;
}
a:visited{
    color:#fff
}
