<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/ProfosSystems2.svg" />
  </head>
  <body>
    <header>
      <a class="logo-link" href="/"
        ><img class="logo" src="/images/ProfosSystems2.svg" alt="Profos Logo"
      /></a>
      <nav>
        <ul>
          <li>
            <form class="logout-form" action="/logout?_method=DELETE" method="POST">
              <button class="logout-button" type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <div class="flag-container">
        <p>Welcome Back <%=name%>! Today's flag is:</p>
        <p>WSU-PROF-0416</p>
      </div>
    </div>
  </body>
</html>
